
<button mat-menu-item routerLink="/main">
  <mat-icon>layers</mat-icon>Главная</button>
<div *ngIf="isUserDataLoaded" class="index-page">


  <mat-nav-list>
    <ng-container *ngFor="let con of contracts; index as i;">

<!--      <button mat-menu-item (click)="toContract(con.id)">-->
<!--        <mat-icon>layers</mat-icon>{{"Contract " + con.number}}</button>-->

    <mat-list-item [routerLink]="['contracts', con.id]" routerLinkActive="active">
      <mat-icon>layers</mat-icon> {{"Contract " + con.number}}
    </mat-list-item>

    </ng-container>
  </mat-nav-list>


</div>


<mat-divider> </mat-divider>

